.van__pa {
    .van-search {
        padding: 0;
    }
}

.van__it {
    .van-cell {
        padding: 5.667vw 4.267vw;
    }
}

.van__bt {
    .van-button:before {
        margin-left: 10px;
    }
}

.van__tag {
    .van-tabbar--fixed {
        position: relative;
    }
}

.van__bot {
    .van-goods-action {
        z-index: 6;
    }
}

.van__feng {
    .van-tab__pane {
        display: block;
    }
}

.van__but {
    .van-button--normal {
        padding: 0px 140px;
    }
}

.van__box {
    .van-icon-records:before {
        position: relative;
        top: 6px;
    }
    .van-icon-points:before {
        position: relative;
        top: 6px;
    }
    .van-icon-location-o:before {
        position: relative;
        top: 6px;
    }
    .van-icon-clock-o:before {
        position: relative;
        top: 6px;
    }
}