.van__pa {
    .van-search {
        padding: 0;
    }
}

.van__it {
    .van-cell {
        padding: 5.667vw 4.267vw;
    }
}

.van__bt {
    .van-button:before {
        margin-left: 10px;
    }
}

.van__tag {
    .van-tabbar--fixed {
        position: relative;
    }
}

.van__bot {
    .van-goods-action {
        z-index: 6;
    }
}

.van__feng {
    .van-tab__pane {
        display: block;
    }
}